[Unit]
Description=Renew Let's Encrypt TLS certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tls-renew.sh
